*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.circle-container{
  height: 600px;
  width: 600px;
  border: 2px solid black;
}

.btn{
  padding:5px;
  margin:5px;
}